.tunniplaan{
    display: flex;
    flex: 1;
    justify-content: center;
    background: rgba(190, 228, 255, 0.2);
    font-family: 'Roboto', sans-serif;
}
.lunch{
    display: flex;
    justify-content: space-between;
    background-color: rgba(194, 194, 194, 0.35);
    margin: 1rem;
    align-items: center;
}
.tund{
    display: flex;
    justify-content: space-between;
    background-color: rgba(190, 228, 255, 0.2);
    margin: 1rem;
}
.leftside{
    display: flex;
    flex-direction: column;
    width: 33%;
}
.leftside span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.rightside{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.rightside span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}
.side{
    width: 33%;
}
.pealkiri{
    font-size: 23px;
    line-height: 27px;
}
.tunninr{
    font-size: 14px;
    line-height: 16px;
}
.aeg{
    font-size: 12px;
    line-height: 14px;
}
.ruum{
    font-size: 14px;
    line-height: 16px;
}
.op{
    font-size: 14px;
    line-height: 16px;
}
.freeroom{
    display: flex;
    flex: 1;
    background:orange;
    margin: 4rem 6rem;
    font-family: 'Roboto', sans-serif;
align-items: center;
justify-content: center;
    width: 153px;
    height: 44px;
    border-radius: 10px;
}
.group {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    margin: 10px 0;
    background: rgba(190, 228, 255, 0.2);
    font-family: 'Roboto', sans-serif;
}
.room {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    margin: 10px 0;
    background: rgba(190, 228, 255, 0.2);
    font-family: 'Roboto', sans-serif;
}
.teacher{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    margin: 10px 0;
    background: rgba(190, 228, 255, 0.2);
    font-family: 'Roboto', sans-serif;
}
.filter{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0 6rem;
    width:161px;
    height: 54px;
    background: #BEE4FF;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}
