font-family: 'Roboto', sans-serif;
.container{
display: flex;
flex: 1;
flex-direction: column;
padding: auto;
}
.tund{
    display: flex;
    justify-content: space-between;
    background-color: rgba(190, 228, 255, 0.2);
    margin: 1rem;
}
.leftside{
    display: flex;
    flex-direction: column;
    width: 33%;
}
.leftside span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.rightside{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.rightside span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}
.side{
    width: 33%;
}
.pealkiri{
    font-size: 23px;
    line-height: 27px;
}
.tunninr{
    font-size: 14px;
    line-height: 16px;
}
.aeg{
    font-size: 12px;
    line-height: 14px;
}
.ruum{
    font-size: 14px;
    line-height: 16px;
}
.op{
    font-size: 14px;
    line-height: 16px;
}

.days{
    display: flex;
    flex: 1;
    justify-content: flex-start;
}
.monday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: slategray;
    padding:0.7rem;
    margin: 0.5rem;
    border-radius:10px;
}
.tuesday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: slategray;
    padding:0.7rem;
    margin: 0.5rem;
    border-radius:10px;
}
.wednesday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: slategray;
    padding:0.7rem;
    margin: 0.5rem;
    border-radius:10px;
    background-color: #BEE4FF;
}
.thursday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: slategray;
    padding:0.7rem;
    margin: 0.5rem;
    border-radius:10px;
    background-color: #FFBE5C;
}
.friday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: slategray;
    padding:0.7rem;
    margin: 0.5rem;
    border-radius:10px;
    background-color: #BEE4FF;
}
.saturday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: slategray;
    padding:0.7rem;
    margin: 0.5rem;
border-radius:10px;
}
.sunday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: slategray;
    padding:0.7rem;
    margin: 0.5rem;
    border-radius:10px;
}
.filter{
    display: flex;
   flex: 1;
    text-align-last: center;
    font-family: 'Roboto', sans-serif;
   justify-content: center;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.tunniplaan{
    display: flex;
    flex: 1;
    justify-content: center;
    background: rgba(190, 228, 255, 0.2);
    font-family: 'Roboto', sans-serif;
}
.freeroom{
    display: flex;
    flex: 1;
    background:orange;
    margin: 4rem 6rem;
    font-family: 'Roboto', sans-serif;
align-items: center;
justify-content: center;
    width: 153px;
    height: 44px;
    border-radius: 10px;
}
.lunch{
    display: flex;
    justify-content: space-between;
    background-color: rgba(194, 194, 194, 0.35);
    margin: 1rem;
    align-items: center;
}
