<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="tund">
        <div class="leftside">
            <span class="aeg">8.30 <br> 10.00</span>
            <br>
            <span class="tunninr">1.-2.tund</span>
        </div>
        <div class="rightside">
            <span class="pealkiri">Dev-ops</span>
            <span class="ruum">K-206</span>
            <span class="op">Rando Õispuu</span>
        </div>
        <div class="side">
        </div>
    </div>
</body>

</html>
